/*
* WP JOb CSS
*/

.single-job-wrapper {
    border-radius: 4px;
    border: 1px solid #008487;
    box-shadow: 6px 6px 25px 0px #00000026;
    padding: 20px;
    margin-top: 75px;
    transition: border 0.2s ease;
}

.single-job-wrapper:hover {
    border-width: 3px;
}

.single-job-wrapper .title h5 {
    color: #008487 ;
}

.job-wrapper h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
    margin: 0;
}


.job-wrapper a:hover span {
    background: none;
    color: #ffffff;
}

.job-item {
    display: block;
    width: 100%;
}

.single-job-wrapper {
    display: grid;
    grid-template-columns: 45% 25% 25% 5%;
    padding: 60px 55px;
    align-items: center;
}

.filter_buttons {
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1E1E1E;
}

.filter_buttons:hover {
    background-color: transparent;
    color: #1E1E1E;
}

button.filter_buttons:focus {
    background: none;
    color: #1E1E1E;
}

button.filter_buttons.is-checked {
    border-bottom: 5px solid #797DF4;
}

button.filter_buttons {
    padding: 0 0 15px 0;
    margin: 0 20px;
}

button.filter_buttons:first-child {
    margin: 0 20px 0 0;
}

.location,
.job-type,
.job-link {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
}

@media only screen and (max-width: 767px) {
    .single-job-wrapper {
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        justify-items: start;
    }
    .single-job-wrapper .location,
    .single-job-wrapper .job-type,
    .single-job-wrapper .job-link {
        margin-top: 10px;
    }
    .wp_jobs-template-default .ast-container {
        padding: 20px !important;
    }
    .filter-button-group {
        display: flex;
        gap: 20px;
        grid-template-columns: 50% 50%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    button.filter_buttons {
        margin: 0 !important;
    }
}